# macOS
.DS_Store

# Xcode user and build data
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods / Carthage (if added in future)
Pods/
Carthage/Build/

